<div class="card text-center" style="background-color: #f7f7f9;">
  <div class="card-block" style="padding:8px">
    <div class="float-left">
      <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
          <a class="nav-link" href="/repos/{{context.user}}/{{context.repo}}/{{context.branch}}">{{context.user}}/{{context.repo}}</a>
        </li>
        <li class="nav-item">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{context.branch}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              {{#each branches}}
                <a class="dropdown-item"
                   href="{{../context.root}}/{{../context.user}}/{{../context.repo}}/{{this.name}}/{{../context.path}}?format={{../context.format}}{{#if
                           ../context.prop }}&prop={{../context.prop}}{{/if}}">{{this.name}}</a>
              {{/each}}
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">{{context.path}}</a>
        </li>
      </ul>
    </div>


    <div class="float-right">

      {{#if github}}
        <a class="btn" target="_blank"
           href="https://github.com/{{context.user}}/{{context.repo}}/blob/{{context.branch}}/{{context.path}}">
          <i class="fa fa-github" aria-hidden="true"></i> open in Github
        </a>
      {{/if}}

      {{#if pdf}}
        <a class="btn btn-outline-success" target="_blank"
           href="/pdf/{{context.user}}/{{context.repo}}/{{context.branch}}/{{context.path}}">PDF</a>
      {{/if}}

      {{#if save}}
        <button id="saveButton" class="btn btn-outline-success" type="button">Save</button>
      {{/if}}

      {{#if new}}
        <button id="newButton" class="btn btn-outline-success" type="button">New</button>
      {{/if}}

    </div>
  </div>
</div>
