<table class="table">

  <thead>
  <tr>
    <th width="300px">Name</th>
    <th width="50px">US</th>
    <th width="50px">FR</th>
    <th width="50px">NL</th>
    <th></th>
  </tr>
  </thead>
  <tbody>

  {{#each definitions}}
    <tr>
      <td>{{this.name}}</td>
      <td>
        {{#if this.us}}
          <a href="/definitions/edit/{{this.name}}/US/US">v</a>
        {{else}}
          <a href="/definitions/edit/{{this.name}}/US/US">?</a>
        {{/if}}</td>
      <td>
        {{#if this.fr}}
          <a href="/definitions/edit/{{this.name}}/US/FR">v</a>
        {{else}}
          <a href="/definitions/edit/{{this.name}}/US/FR">?</a>
        {{/if}}</td>
      </td>
      <td>
        {{#if this.nl}}
          <a href="/definitions/edit/{{this.name}}/US/NL">v</a>
        {{else}}
          <a href="/definitions/edit/{{this.name}}/US/NL">?</a>
        {{/if}}
      </td>
      <td></td>
    </tr>
  {{/each}}
  </tbody>

</table>