{{#if repos}}
  <div class="mb-2">
    <div class="input-group">
      <input id="q" type="text" class="form-control" placeholder="Search for..." value="{{q}}">
      <span class="input-group-btn">
        <button id="search" class="btn btn-primary" type="button">Search</button>
      </span>
    </div>
    <script>
      const searchAction = function () {
        const val = q = $('#q').val()
        window.location.search = `q=${val}`
      }
      $('#search').click(searchAction)
      $(document).keypress(function(e) {
        if (e.which == 13) {
          searchAction()
        }
      });
    </script>
  </div>
  <div>
    <ul class="list-group">
      {{#each repos}}
        <li class="list-group-item">
          <a href="/repos/{{this.full_name}}/master">{{this.full_name}}</a>
        </li>
      {{/each}}
    </ul>
  </div>
{{/if}}


{{#if files}}
  <ul class="list-group">
    {{#each files}}

      <li class="list-group-item">
        <span><i class="fa fa-file" aria-hidden="true"></i>&nbsp;</span>
        <a href="/{{../context.owner}}/{{../context.repo}}/{{../context.branch}}/{{this.path}}">{{this.path}}</a>
      </li>

    {{/each}}
  </ul>
{{/if}}